<section class="mdl-layout__tab-panel" id="fixed-tab-1">
	<div class="page-content">
		<div class="filter">
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="filter-display-all">
				<input type="radio" id="filter-display-all" class="mdl-radio__button" name="filter" value="1" checked> <span class="mdl-radio__label">All</span> </label>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="filter-display-finished">
				<input type="radio" id="filter-display-finished" class="mdl-radio__button" name="filter" value="2"> <span class="mdl-radio__label">Finished</span> </label>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="filter-display-unfinished">
				<input type="radio" id="filter-display-unfinished" class="mdl-radio__button" name="filter" value="3"> <span class="mdl-radio__label">Unfinished</span> </label>
		</div>
		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Building name</th>
					<th>Room</th>
					<th>
						<button id="multi-select-options" class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons">more_vert</i> </button>
						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="multi-select-options">
							<li class="mdl-menu__item">Mark as Finished</li>
							<li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Mark as Unfinished</li>
							<li class="mdl-menu__item color-red">Delete</li>
						</ul>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
					<td>25</td>
					<td>
						<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_left</i></button>
					</td>
					<td class="single-select-options">
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">delete_forever</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">photo_camera</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">text_fields</i></button>
						</div>
						<div class="item-status">
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">check_box</i></button>
							<!--check_box_outline_blank-->
						</div>
						<div>
							<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_right</i></button>
						</div>
					</td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
					<td>50</td>
					<td>
						<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_left</i></button>
					</td>
					<td class="single-select-options">
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">delete_forever</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">photo_camera</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">text_fields</i></button>
						</div>
						<div class="item-status">
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">check_box</i></button>
							<!--check_box_outline_blank-->
						</div>
						<div>
							<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_right</i></button>
						</div>
					</td>
				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
					<td>10</td>
					<td>
						<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_left</i></button>
					</td>
					<td class="single-select-options">
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">delete_forever</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">photo_camera</i></button>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">text_fields</i></button>
						</div>
						<div class="item-status">
							<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">check_box</i></button>
							<!--check_box_outline_blank-->
						</div>
						<div>
							<button class="single-select-options-trigger mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">chevron_right</i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<section class="mdl-layout__tab-panel is-active" id="fixed-tab-2">
	<div class="page-content">

		<div class="mdl-grid">

			<div class="mdl-cell mdl-cell--4-col-phone">
					
				<div id="card-postcard" class="card-postcard mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text"></h2>
					</div>
					<div class="mdl-card__supporting-text padding-0 fullwidth">
						<textarea class="fullwidth animate" rows="1" placeholder="Add some text here..."></textarea>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<button class="mdl-button mdl-js-button mdl-button--primary" disabled>
							Post
						</button>
						<button class="float-right mdl-button mdl-js-button mdl-button--accent" disabled>
							Discard
						</button>
					</div>
					<div class="mdl-card__menu">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">add_a_photo</i>
						</button>
						<input type="file" id="postcard-file-input">
					</div>
				</div>

			</div>

			<div class="mdl-cell mdl-cell--4-col-phone">
				
				<div class="card-txt-n-img mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title"></div>
					<div class="mdl-card__supporting-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Mauris sagittis pellentesque lacus eleifend lacinia...
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<div class="post-info">
							<i class="material-icons">person</i> Maryo
							&nbsp;
							<i class="material-icons">access_time</i> 10:30 PM
						</div>
						<button class="del-btn float-right mdl-button mdl-js-button mdl-button--icon">
							<i class="material-icons">delete</i>
						</button>
					</div>
					<div class="mdl-card__menu">
						<a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="https://tinyurl.com/md6f75r" download>
							<i class="material-icons">save</i>
						</a>
					</div>
				</div>

			</div>
			<div class="mdl-cell mdl-cell--4-col-phone">
				
				<div class="card-txt-only mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aenan convallis.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<div class="post-info">
							<i class="material-icons">person</i> Maryo
							&nbsp;
							<i class="material-icons">access_time</i> 10:30 PM
						</div>
						<button class="del-btn float-right mdl-button mdl-js-button mdl-button--icon">
							<i class="material-icons">delete</i>
						</button>
					</div>
				</div>

			</div>
			<div class="mdl-cell mdl-cell--4-col-phone">
				
				<div class="card-img-only mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="mdl-card__actions">
						<div class="post-info">
							<i class="material-icons">person</i> Maryo
							&nbsp;
							<i class="material-icons">access_time</i> 10:30 PM
						</div>
						<button class="del-btn float-right mdl-button mdl-js-button mdl-button--icon">
							<i class="material-icons">delete</i>
						</button>
					</div>
				</div>

			</div>
		</div>
		
	</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-3">
	<div class="page-content">

		<div class="users-list mdl-list"></div>
		
	</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-4">
	<div class="page-content">
		<!--div id="map"></div-->
		<div style="height: 30vh; width: 100%;"></div>
		<h3 class="page-title">Coming Soon!</h3>
	</div>
</section>